### This file transforms processed sport activity data to be stored into data.world

* https://www.data.world/jamasoftwares?entryTypeLabel=dataset&tab=resources
* This transformer can be used as a helper tool to transfer 3D data to 2D by splitting features to a separate files
* Required data format are csv and pkl (numpy format).

#### Download data

In [4]:
import pickle as cPickle
import pandas as pd

In [24]:
SEQ_SEGMENTED = cPickle.load( open( "DATA/data_arrays/seq_segmented.pkl", "rb" ) )
SEQ_SEGMENTED_LABELS = pd.read_csv("DATA/data_arrays/seq_segmented_labels.csv")

In [25]:
SEQ_SEGMENTED

array([[[117.        ,   7.15700006, 134.80000305],
        [118.        ,   6.81099987, 134.80000305],
        [119.        ,   6.44799995, 134.80000305],
        ...,
        [ 98.        ,   8.6590004 , 106.80000305],
        [101.        ,   8.76200008, 107.        ],
        [100.        ,   8.64999962, 107.19999695]],

       [[101.        ,   8.05200005, 107.40000153],
        [ 99.        ,   7.89400005, 107.59999847],
        [104.        ,   7.85599995, 107.59999847],
        ...,
        [ 94.        ,   6.63399982, 124.19999695],
        [ 98.        ,   6.76499987, 124.40000153],
        [104.        ,   6.64300013, 124.80000305]],

       [[102.        ,   7.0170002 , 125.        ],
        [105.        ,   7.17500019, 125.        ],
        [102.        ,   6.89499998, 125.19999695],
        ...,
        [ 99.        ,   4.66499996, 127.19999695],
        [102.        ,   4.80499983, 127.19999695],
        [105.        ,   5.07600021, 127.        ]],

       ...,

       [[138.        ,   3.12599993, 282.3999939 ],
        [138.        ,   3.12599993, 282.6000061 ],
        [139.        ,   3.12599993, 282.3999939 ],
        ...,
        [150.        ,   3.51799989, 282.79998779],
        [150.        ,   3.5079999 , 282.79998779],
        [150.        ,   3.49900007, 282.79998779]],

       [[151.        ,   3.48000002, 282.6000061 ],
        [150.        ,   3.47099996, 282.6000061 ],
        [151.        ,   3.4519999 , 282.79998779],
        ...,
        [153.        ,   3.23799992, 284.        ],
        [153.        ,   3.22799993, 284.20001221],
        [153.        ,   3.22799993, 284.20001221]],

       [[152.        ,   3.2190001 , 284.20001221],
        [153.        ,   3.21000004, 284.3999939 ],
        [153.        ,   3.20000005, 284.6000061 ],
        ...,
        [118.        ,   2.36100006, 287.        ],
        [118.        ,   2.33299994, 287.        ],
        [117.        ,   2.31399989, 287.20001221]]])

In [26]:
INDEX_DATA

     org_index     label                   device  devID
0            0    Biking                vivosport   2623
1            1  R-Skiing  Garmin Forerunner 920XT   1765
2            7    Biking  Garmin Forerunner 920XT   1765
3            9  R-Skiing  Garmin Forerunner 920XT   1765
4           10    Biking  Garmin Forerunner 920XT   1765
..         ...       ...                      ...    ...
223        275   Running  Garmin Forerunner 920XT   1765
224        276   Running  Garmin Forerunner 920XT   1765
225        277   Running  Garmin Forerunner 920XT   1765
226        278   Running  Garmin Forerunner 920XT   1765
227        279   Running  Garmin Forerunner 920XT   1765

[228 rows x 4 columns]

#### Transform data

In [27]:
import numpy as np

In [28]:
hr_list = np.array([seq.T[0] for seq in SEQ_SEGMENTED])
spd_list = np.array([seq.T[1] for seq in SEQ_SEGMENTED])
alt_list = np.array([seq.T[2] for seq in SEQ_SEGMENTED])

hr_std = (hr_list - hr_list.mean())/(hr_list.std())
spd_std = (spd_list - spd_list.mean())/(spd_list.std())
alt_std = (alt_list - alt_list.mean())/(alt_list.std())

In [29]:
hr_std.shape

(1140, 69)

In [31]:
pd.DataFrame(hr_std).to_csv('DATA/HR-DATA_std_1160x69.csv', index=False)
pd.DataFrame(spd_std).to_csv('DATA/SPD-DATA_std_1160x69.csv', index=False)
pd.DataFrame(alt_std).to_csv('DATA/ALT-DATA_std_1160x69.csv', index=False)
pd.DataFrame(SEQ_SEGMENTED_LABELS).to_csv('DATA/META-DATA_1160x1.csv', index=False)